* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}
.container {
  max-width: 80rem;
  margin: 30px auto;
}

/* Navbar Section */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.list-item {
  list-style-type: none;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
}
li {
  margin-right: 50px;
  list-style: none;
}
.grow-list {
  margin-right: 25%;
}

li:nth-child(1) {
  font-weight: 900;
}

.nav-button {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  background-color: #764af1;
  border: none;
  cursor: pointer;
}
.menu-icon { 
  height: 30px;
  display: none;
  cursor: pointer;
}
/* Banner */

.banner-container {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.heading-text {
  color: #120e43;
  width: 40%;
  font-size: 60px;
}
span {
  color: #764af1;
}
.description {
  width: 30%;
  font-weight: 300;
  font-size: 14px;
  padding: 20px 0;
}
.banner-container img {
  position: fixed;
  right: 0;
  height: 570px;
}
.btn {
  margin-top: 40px;
  padding: 15px 30px;
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .navbar-container {
    width: 65rem;
  }
  img[alt="brand-logo"] {
    height: 40px;
  }
  .list-item {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 40rem;
  }
  .navbar-container {
    width: 40rem;
  } 
  .nav-button {
    padding: 8px 8px;
  }
  .list {
    display: none;
  }
  .menu-icon {
    display: inline-block;
    margin-right: 50px;
  }
  .banner-container img {
    top: 50%;
    width: 50%;
    height: 50%;
  }
  .banner-container .heading-text {
    width: 100%;
    font-size: 48px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    max-width: 25rem;
  }
  .navbar-container {
    width: 25rem;
  }
  .nav-button:first-child {
    display: none;    
  }  
  .banner-container .heading-text {
    font-size: 40px;
  }
  .banner-container .description {
    width: 100%;
  }
  .banner-container img {
    top: 50%;
    width: 65%;
    height: 50%;
  }
}